/.vscode
/a.exe
/buublesort.exe
/descendingOrderArrayBubbleSort.exe
/dynamicmemoryallocation.exe
/lengthOfStringInArray.exe
/matrixmulPointers.exe
/onlyprimearray.exe
/palindromestring.exe
/pascalsTriangle.exe
/startypePattern.exe
/stringPattern.exe
/stringpatternanother.exe
/strings.exe
/structall.exe
/structureobook.exe
/structureof cricketsandbubblesort.exe
/structureof_cricketsandbubblesort.exe